body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

* {
  box-sizing: border-box;
}
/* header */
header {
  padding: 16px 78px;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  position: fixed;
  width: 100%;
  box-shadow: 0 1px 1px #ccc;
}
header p {
  margin: 0;
}
.drop-down{
    border: none;
    font-size: 16px;
    list-style-type: none;

}
header .left {
  display: flex;
  align-items: center;
}
header .left img {
  margin-right: 40px;
  height: 51px;
}
header .right {
  display: flex;
  align-items: center;
}
header .right p {
  color: gray;
}
header .right a {
  margin-left: 50px;
  text-decoration: none;
  color: white;
  background-color: blue;
  border-radius: 40px;
  padding: 10px 15px;
  background-image: linear-gradient(269deg, #0048ff, #0096ff);
}
main {
  padding: 10px 50px;
  padding-top: 75px;
  background-color: #f2f6ff;
}
main p {
  display: flex;
  align-items: center;
}
main p img {
  width: 24px;
  margin-right: 5px;
}
.filters button {
  color: #0048ff;
  padding: 6px 16px;
  border-radius: 15px;
  border: 1px solid #0048ff;
  margin: 5px;
  cursor: pointer;
}

.filters button:hover,
.filters button:active {
  background-image: linear-gradient(269deg, #0048ff, #0096ff);
  color: white;
}
.posts {
  margin: 40px 0px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

}
.posts .post {
  width: 31%;
  box-shadow: 0 5px 20px 0 rgba(0, 0, 0), 0.1;
  margin: 10px;
  border-radius: 5px;
  overflow: hidden;
  border: 1px solid rgba(0, 168, 255, 3);
}
.posts .post img {
  width: 100%;
}
.posts .post .content {
  padding: 20px;
  background-color: white;
}
.posts .post .content p span {
  color: #0096ff;
}
footer {
  background-color: #172146;
  height: 60px;
}
